* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #0f172a; */
  background-color: rgb(10 14 26);
  color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.container {
  max-width: 1500px;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
header img {
  max-width: 30px;
}
header {
  display: flex;
  background-color: #030e20;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.sub-header-container {
  /* background-color: rgb(26 26 46); */
}
.search-bar-user {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#search-bar {
  outline: none;
  border: none;
  border-radius: 8px;
  background: #1e293b;
  padding: 20px;
  display: flex;
  width: 100%;
  margin: 20px 0;
  color: #94a3b8;
}
#search-bar::placeholder {
  color: #94a3b8;
  padding: 25px;
}

.user-profile {
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%;
}
/* .nav-bar {
  display: none;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  padding: 20px;
  background-color: #030e20;
  z-index: 1000;
}
.logo-cls-menu {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
li a {
  font-size: 14px;
  padding: 10px;
  display: block;
  color: #fff;
}
li a:hover {
  background-color: #fff;
  color: #030e20;
}
.signup-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
.signup-login a,
.logout {
  width: 100%;
  background-color: blue;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
}

.toggle_login_logout {
  display: none;
}
.theme {
  display: flex;
  background-color: #131a24ea;
  justify-content: space-around;
  margin: 30px 0;
  border-radius: 2px;
}
.theme button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  color: #ccc;
  font-size: 14px;
}
.theme .active {
  background-color: #1d3453;
} */
main {
  margin: 70px 0;
  padding: 20px;
}

main nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 15px;
  /* background-color: rgb(26 26 46); */
}
main nav li a,
main nav li div {
  text-decoration: none;
  color: #94a3b8;
}
.active {
  color: #f59e0b;
  font-weight: bold;
  border-bottom: 1px solid #f59e0b;
}
main > :first-child > :first-child {
  font-size: 22px;
  font-weight: bold;
}
.total-values {
  display: flex;
  /* background: #1e293b; */
  /* background-color: rgb(26 26 46); */
  background-color: rgb(22 33 62);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.total-values div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 5x;
}
.total-values div > :nth-child(2) {
  font-weight: bold;
  font-size: 16px;
}
.total-values div > :nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  color: #94a3b8;
}
.sort-filter {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}
.sort-filter > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.sort-filter > div span {
  padding: 10px 20px;
  background: #1e293b;
  border-radius: 20px;
}
table img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(26 26 46);
  border-radius: 10px;
  /* border: 2px solid red; */
}

caption {
  font-size: 16px;
  padding: 10px;
}
.az {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
th {
  font-size: 16px;
  color: #94a3b8;
  text-align: center;
  border: none;
  padding: 15px 0;
  border-collapse: collapse;
}
td,
tr {
  padding: 10px;
  text-align: left;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}
tr > :last-child {
  text-align: center;
  font-weight: bold;
  background-clip: content-box;
}
tr > :first-child {
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
}
.icon-symbol {
  display: flex;
  justify-content: left;
  width: 85px;
  gap: 5px;
}
.symbol-market-cap {
  display: flex;
  flex-direction: column;
}
.symbol-market-cap > :nth-child(2) {
  color: #94a3b8;
  font-size: 14px;
}
tr a {
  display: block;
  position: absolute;
}
.row {
  cursor: pointer;
}
.what-is-crypto-market p,
ul li,
.why-detail p,
.looking-ahead-detail p {
  color: #94a3b8;
  padding: 5px 0;
}
.more-info ul {
  margin: 0 20px;
  list-style: disc;
}
.what-is-crypto-market h3 {
  color: #fff;
  margin: 10px 0;
}
details {
  margin-top: 10rem;
  padding: 0;
  margin: 0;
}
.more-info h3 {
  font-size: 14px;
  font-weight: semi-bold;
  color: #94a3b8;
}
.more-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15rem;
  /* background-color: #; */
}
.more-info > :first-child {
  color: #94a3b8;
  font-size: 10px;
}

.float-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #030e20;
}
.float-footer ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;
}
.float-footer ul li {
  padding: 15px 10px;
}
.buy-nego {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 0;
}
.quick-buy,
.nego {
  /* background-color: #0f172a; */
  padding: 5px;
  font-size: 14px;
}
.nego {
  /* background-color: #08062c; */
}
.listed-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.warning-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
  background: linear-gradient(rgba(4, 1, 36, 1), rgba(0, 0, 0, 0.9));
}
.mini-con {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.btn-container {
  display: flex;
}
.btn-container button {
  padding: 10px;
  background-color: #030e20;
  color: #fff;
}
.hide {
  display: none;
}
.pro-nego-btn button {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 3px;
  font-size: 14px;
}
