* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #0b1422; */
  /* background-color: #0f172a; */
  /* padding: 30px 0; */
  background-color: rgb(10 14 26);
}
main {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px 10px;
}
.profile {
  color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.username-notify-pic,
.profile-notify {
  display: flex;
  justify-content: space-between;
}
.profile-notify {
  gap: 20px;
  margin-top: -10px;
}
.profile-notify div {
  width: 30px;
  align-self: flex-start;
}
.profile-notify div img {
  width: 100%;
}
.username {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: bolder;
}
.user-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-balance p {
  color: rgb(156 163 175);
  font-size: 14px;
}
.balance {
  font-size: 36px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: #ccc;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* background-color: #071730; */
  /* background-color: #1e293b; */
  background-color: rgb(26 26 46);
  color: rgb(156 163 175);
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 1px 5px blue; */
}
.nav-menu li {
  border-radius: 5px;
}
.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
}
.active-menu {
  /* background-color: blue; */
}

.profile * {
  padding: 5px 0;
}
.first {
  font-size: 20px;
  font-weight: bold;
}
.last {
  font-size: 14px;
  font-weight: 400;
}

.port-summary {
  /* background-color: #071730; */
  /* background-color: #1e293b; */
  background-color: rgb(26 26 46);
  display: flex;
  justify-content: space-between;
  color: #ccc;
  padding: 25px 10px;
  border-radius: 10px;
}
.port-summary div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.port-summary span {
  font-size: 30px;
}
.iav {
  font-size: 20px;
  font-weight: bolder;
}
.tooltip-text {
  font-size: 14px;
}
.donut-containier {
  display: flex;
  align-self: center;
  justify-self: center;
}
.apexcharts-legend.apx-legend-position-right {
  position: absolute;
  left: 200px !important;
}
#donutChart {
  width: 300px;
}
.apexcharts-legend.apx-legend-position-right * {
  color: #fff !important;
  margin: 0 1px;
}
#myCanvas {
  width: 60%;
  height: 100%;
  border: 2px solid green;
}
.total-value p {
  display: flex;
  gap: 0 50px;
  /* justify-content: space-between; */
}
.total-value-percent-change div {
  display: flex;
  gap: 10px 20px;
  justify-content: space-between;
}
.total-value h3 {
  font-size: 16px;
  font-weight: 400;
}

.per-chng {
  font-size: 12px;
  color: green;
}
.asset-allocation,
.recent-activity {
  /* background-color: #071730; */
  /* background-color: #1e293b; */
  background-color: rgb(26 26 46);
  padding: 10px;
  position: relative;
  border-radius: 10px;
}
.recent-activity {
  margin-top: 5px;
}
.asset-container,
.activity-container {
  max-height: 400px;
  overflow: hidden;
  margin: 20px 0;
  font-size: 14px;
}
.activity-container {
  max-height: 300px;
}
.asset-allocation h3,
.recent-activity h3 {
  color: #fff;
  font-size: 14px;
}
.see-all {
  color: #fff;
  background-color: #0b1422;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  width: 90%;
  left: 50%;
  margin-top: -10px;
  transform: translateX(-50%);
  display: none;
}
/* .all-asset,
.all-activity {
} */
.see-activity {
  z-index: 100;
}
.asset,
.activity {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  /* background-color: #334155; */
  /* background-color: #031738; */
  background-color: #0f172a;
  padding: 5px 15px;
  color: #ccc;
  border-radius: 10px;
}
.trans-type-date * {
  margin: 5px 0;
  padding: 0;
}
.show {
  display: block;
}
.asset img {
  max-width: 30px;
  height: 30px;
}
.ast-logo,
.name-symbol {
  display: flex;
  gap: 0 5px;
}
.name-symbol {
  flex-direction: column;
}
.img-ast-name {
  display: flex;
}
.img-ast-name p {
  display: flex;
  flex-direction: column;
}
.name-symbol {
  display: flex;
}
.amount {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.quan-amt {
  text-align: right;
}
.quan-amt > * {
  padding: 5px;
}
.date {
  font-size: 12px;
}
meter {
  display: block;
  height: 100px;
  width: 100px;
}
.empty-container {
  height: 100px;
  border: 2px dashed #202475;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: ; */
}
.transaction {
  background-color: #031738;
  padding: 10px;
  color: #ccc;
  position: relative;
}
footer {
  /* background-color: #071730; */
  background-color: #0f172a;
  padding: 15px 10px;
  position: sticky;
  bottom: 0;
}
footer nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
footer nav li a,
nav span {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
}
.active {
  background-color: blue;
  border-radius: 50px;
}
