* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f172a;
  background-color: rgb(10 14 26);
  color: #e0e0e0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  /* height: 100%; */
  /* padding:  20px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 10px 0;
}
.header {
  /* background-color: rgba(15, 20, 25, 0.565); */
  background-color: #0f172a;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.menu-tab {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 60px;
  padding: 20px;
  background-color: #0f172a;
}
.menu-tab button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  /* background-color: transparent; */
}
#cancel {
  background-color: red;
  /* color: red; */
}
#complete {
  background-color: green;
  /* color: green; */
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.status {
  align-self: center;
}
.typing-bar {
  display: flex;
  position: fixed;
  bottom: 15px;
  width: 100%;
  left: 0;
}
.typing-bar > input {
  flex-basis: 80%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgba(30, 41, 59, 0.5);
  color: #fff;
}
.typing-bar > button {
  flex-basis: 20%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #031c55;
  color: #fff;
}
.message-body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  padding-bottom: 80px;
  height: 100vh;
  margin-top: 60px;
  overflow-y: auto;
}
.sender {
  align-self: flex-end;
  background-color: #1e90ff;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 10px 10px 0px 10px;
}
.reciever {
  align-self: flex-start;
  background-color: #1e90ff;
  padding: 10px 15px;
  border-radius: 10px 10px 0px 10px;
  margin: 5px 0;
}
.letter-img {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 50%;
  color: black;
}
.hide {
  display: none;
}
